<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKqybtylkDAIN2cCce47q26428PrlPZJ_V0eLMl_h9r1irglLDT29Ayrr85Dy8G7oE8pg&usqp=CAU" width="50" height="40">
          </li>
          <li><a href="{% url 'cars_api:post_list' %}" class="nav-link px-2 text-white">Cars</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'cars_api:post_list' %}">
          <input name="brand" type="search" class="form-control form-control-dark" placeholder="Search by Brand"
          aria-label="Search">
        </form>
        <br>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'cars_api:post_list' %}">
          <input name="model" type="search" class="form-control form-control-dark" placeholder="Search by Model"
          aria-label="Search">
        </form>

          <div class="text-end">
          {% if request.user.is_authenticated %}
            <i class="fas fa-user mx-1"></i>
          {{ request.user.username }}
            <a href="{% url 'accounts:logout' %}">
              <button type="button" class="btn btn-outline-light me-2">Logout</button>
            </a>
          {% else %}
            <a href="{% url 'accounts:login' %}">
              <button type="button" class="btn btn-outline-light me-2">Login</button>
            </a>
            <a href="{% url 'accounts:register' %}">
              <button type="button" class="btn btn-warning">Register</button>
            </a>
          {% endif %}
          </div>

      </div>
    </div>
</header>