{% extends 'base/base.html' %}

{% block title %}
    Home page
{% endblock title %}

{% block content %}

<h1> All car's posts </h1>
<hr>
{% with page=posts %}
    {% include 'base/pagination.html' %}
{% endwith %}

<div class="row mb-2">
    {% for post in posts %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-2">{{ post.brand }} {{ post.model }}</h3>
            <p class="card-text mb-auto">Year: {{ post.year }}</p>
            <p class="card-text mb-auto">Country: {{ post.country }}</p>
            <p class="card-text mb-auto">Mileage: {{ post.mileage }}</p>
            <p class="card-text mb-auto">Fuel: {{ post.fuel }}</p>
            <p class="card-text mb-auto">On sale:
                {% if post.on_sale %}
                    Yes
                {% else %}
                    No
                {% endif %}</p>
            <a href="{{ post.get_absolute_url }}" class="link-blue">More details</a>
            <br>
            <div class="mb-1 text-muted fw-bold">Published on </div>
            <div class="mb-1 text-muted fw-bold">{{ post.updated|date:"l d M Y" }}</div>
            <div class="mb-2 text-muted fst-italic">{{ post.publish|timesince }} ago</div>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="{{ post.image_url }}" alt="" width="300" height="200">
            <p>Posted by:
                <a href="{% url 'cars_api:post_list' %}?owner={{ post.owner.username }}">
                @{{ post.owner.username }}
                </a></p>
            <h3 class="mb-2">{{ post.price }} USD</h3>
            <a href="#" class="link-blue">Contact owner</a>
            <br>
            <br>
            <a href="{% url 'cars_api:post_update' pk=post.pk %}" class="text-decoration-none">
                <button class="btn btn-info">Edit</button>
            </a>
            <a href="{% url 'cars_api:post_delete' pk=post.pk %}" class="text-decoration-none">
                <button class="btn btn-danger">Delete</button>
            </a>
            <p></p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% with page=posts %}
    {% include 'base/pagination.html' %}
{% endwith %}
{% endblock content %}
